{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block body %}
  <div class="align-item-center justify-content-between d-flex mb-3">
        <h3>List Tugas</h3>
        <a href="{{ url_for('create') }}" class="btn btn-primary">Tambah tugas</a>
    </div>

    <table class="table table-hover">
        <thead class="table table-primary">
            <tr>
                <th class="align-center">ID</th>
                <th class="align-center">JUDUL</th>
                <th class="align-center">DESKRIPSI</th>
                <th class="align-center">AKSI</th>
            </tr>
        </thead>
        <tbody>

            {% for tugas in tugas %}

                <tr>
                    <td class="align-center">{{tugas.id}}</td>
                    <td class="align-center">{{tugas.name}}</td>
                    <td class="align-center">{{tugas.deskripsi}}</td>
                    <td class="align-center btn btn-group">
                        <a href="/update/{{tugas.id}}" class="btn btn-secondary">Edit</a>
                        <a href="/delete/{{tugas.id}}" class="btn btn-danger" onclick="return confirm('Yakin?')">Delete</a>
                    </td>
                </tr>
            
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}